
 
<div class="navbar navbar-default">
        
        <ul class="pull-left">
              
		<li class="navbar-brand">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Healthover">
        </div>
</li>
        </ul>
        <div class="pull-right">
        <ul class="nav nav-pills">
          <li><a href="#"> Sign Up </a></li>
          <li><a href="#"> Log In </a></li>
          <li><a href="#"> Help </a></li>
        </ul>
    </div>
 
     </div>
 
    <div class="jumbotron">
    	
       <h1>Doktorlar Burada!</h1>
        <p>12 ülkeden 1200 doktor</p>
     
        <p>
        <%= link_to "Giriş", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Kayıt Ol", "#", class: "btn btn-primary btn-lg" %></p>
    </div>  

    
		<div class="row">
	  	  <div class="col-md-5">
			<h3>Güvenilir</h3>
			<p>Lorem ipsum color.</p>
			<p><a href="#">git ve ile nasıl gezersiniz</a></p>
		  </div>
		  <div class="col-md-5">
			<h3>Soru sorun</h3>
			<p>harika bir iş</p>
			<p><a href="#">Daha fazla bilgi edinin</a></p>
	      </div>
		  <div class="col-md-2">
			<h3>Güvenilir</h3>
			<p>From Verified ID to our worldwide .</p>
			<p><a href="#">Daha fazla bilgi</a></p>
		   </div>
		</div>
   